.header {
    background-color: #369FDD;
}

.login-wrap {
    background: rgba(54, 159, 221, 0.82);
}

.plugins-tips {
    background: #369FDD;
}

.plugins-tips a {
    color: #369FDD;
}

.el-upload--text em {
    color: #369FDD;
}

.pure-button {
    background: #369FDD;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
    background-color: #369FDD !important;
    border-color: #369FDD !important;
}

.tags-li.active {
    border: 1px solid #369FDD;
    background-color: #369FDD;
}

.collapse-btn:hover {
    background: #369FDD;
}

.deleteclass {
    width: 600px;
    padding-bottom: 0px;
    border: 0px;
    box-shadow: 0px 0px 29px 1px rgba(0, 0, 0, 0.5);
}

.deleteclass .el-message-box__header {
    display: none;
}

.deleteclass .headers {
    font-size: 20px;
    margin-bottom: 6px;
    width: 570px;
    color: #323232;
}

.deleteclass .contents {
    font-size: 14px;
    width: 570px;
    color: #323232;
}

.deleteclass .iconsde {
    width: 62px;
    height: 62px;
    margin-left: 16px;
    margin-right: 16px;
    float: left;
    background-image: url(../../img/gantan.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.deleteclass .el-message-box__btns {
    border-top: 1px solid #969696;
    height: 58px;
}

.deleteclass .el-message-box__content {
    border-top: 8px solid #ffc800;
    height: 77px;
    display: flex;
    align-items: center;
}

.deleteclass .el-button--default {
    border-color: #006fe6;
    color: #006fe6;
    padding: 8px 25px;
    margin-top: 12px;
}

.deleteclass .el-button--primary {
    border-color: #006fe6;
    background: #006fe6;
    color: #fff;
    padding: 8px 21px;
    margin-top: 12px;
}